# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\grade_three\编译技术\词法分析\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
